@import url('https://fonts.googleapis.com/css?family=Roboto');

.example-fill-remaining-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}

html, body, app-main, md-sidenav-container, .my-content {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
}

.md-sidenav-content {
  padding: 16px 16px 0 16px;
}

* {
  box-sizing: border-box;
  font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

md-card {
  margin: 24px 16px;

  &:first-child {
    margin-top: 0;
  }
}

.md-tab-body-wrapper {
  padding-top: 16px;
}