<h1>Basic Game</h1>


<md-tab-group>
    <md-tab label="Gamesheet">
        <div class="text-right">
            <button md-raised-button (click)="saveGame()" *ngIf="!dirty" [disabled]="true">Save Game</button>
            <button md-raised-button color="accent" (click)="saveGame()" *ngIf="dirty">Save Game</button>
        </div>

        <md-list>
            <md-card *ngFor="let user of users">
                <md-card-content class="text-center">
                    <div class="user-name">{{user.name}}</div>
                    <h1 class="user-score">{{user.basicGame.score}}</h1>
                </md-card-content>
                <md-card-content class="text-center">
                    <div *ngFor="let buttonValue of buttonValues | orderBy : 'value'"
                         class="display-inline-block text-center">
                        <div>
                            <button md-fab (click)="addScore(user,    buttonValue.value)">+{{buttonValue.value}}
                            </button>
                        </div>
                        <div>
                            <button md-mini-fab (click)="addScore(user, -1*buttonValue.value)">-{{buttonValue.value}}
                            </button>
                        </div>
                    </div>
                </md-card-content>
                <md-card-actions>
                    <button md-button (click)="editUsername(user)">Edit Name</button>
                    <button md-button (click)="removeUser(user)">Remove</button>
                </md-card-actions>
            </md-card>
            <md-card>
                <md-input-container>
                    <input md-input type="text" placeholder="New User's Name" name="username"
                           [(ngModel)]="newUser.name">
                </md-input-container>
                <br>
                <button md-raised-button color="primary" (click)="addUser()">Add User</button>
            </md-card>
        </md-list>
    </md-tab>
    <md-tab label="Settings">
        <md-card>
            <h3>Autosaving</h3>
            <button md-button color="primary" (click)="toggleAutosave()" *ngIf="autosave">Autosave On</button>
            <button md-button color="primary" (click)="toggleAutosave()" *ngIf="!autosave">Autosave Off</button>
        </md-card>

        <md-card>
            <h3>New Game</h3>
            <md-input-container>
                <input md-input type="text" placeholder="Default Value" name="defaultvalue" [(ngModel)]="defaultScore">
            </md-input-container>
            <br>
            <button md-button color="primary" (click)="resetScores()">Create New Game</button>
        </md-card>

        <md-card>

            <h3>Button values</h3>
            <div *ngFor="let buttonValue of buttonValues" class="display-inline-block">
                <md-input-container>
                    <input md-input type="number" placeholder="Button value" name="buttonvalue"
                           [(ngModel)]="buttonValue.value">
                </md-input-container>
            </div>
            <br><br><br><br>
            <div>
                <md-input-container>
                    <input md-input type="number" placeholder="Default Value" name="newButtonValue"
                           [(ngModel)]="newButtonValue.value">
                </md-input-container>
                <button md-button color="primary" (click)="addButtonvalue()">Add New Button Value</button>
            </div>
        </md-card>
    </md-tab>
</md-tab-group>